@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .boxshadow {
    box-shadow: 0 0 5px #ffee10;
  }
  .textshadow{
    text-shadow: 0 0 5px #ffee10;
  }
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
}

.global-class-BiImageAlt,
.global-class-PiDotsThreeOutlineFill,
.global-class-RiChat1Line,
.global-class-FaRetweet,
.global-class-GoHeart,
.global-class-IoIosStats,
.global-class-twobtn {
  color: #71767B;
  display: inline-block;
  padding: 0.75rem;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
  stroke-width: 0.7px;
}
.global-class-RiChat1Line {
  transform:scaleX(-1);
  stroke-width: 0.3px;
}
.global-class-BiImageAlt{
  color: #1D9BF0;
  font-size: 1.25rem ;
  line-height: 1.75rem;
  stroke-width: 0.5px;
}

.global-class-BiImageAlt:hover,
.global-class-PiDotsThreeOutlineFill:hover,
.global-class-RiChat1Line:hover,
.global-class-IoIosStats:hover,
.global-class-twobtn:hover {
  color: #1D9BF0;
  background-color: #0A171F;
}

.global-class-FaRetweet:hover {
  color: #00BA7C;
  background-color: #071A14;
}
.global-class-GoHeart:hover {
  color: #F91880;
  background-color: #200914;
}


