@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .boxshadow {
    box-shadow: 0 0 5px #ffee10;
  }
  .textshadow{
    text-shadow: 0 0 5px #ffee10;
  }
  .scrollbar-hide {
    /* For Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* For IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


.global-class-IoIosMore,
.global-class-BsChat,
.global-class-AiOutlineRetweet,
.global-class-BsHeart,
.global-class-IoIosStats,
.global-class-twobtn {
  color: #71767B;
  display: inline-block;
  padding: 0.75rem;
  border-radius: 40%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.global-class-IoIosMore:hover {
  color: #1D9BF0;
  background-color: #0A171F;
}
.global-class-BsChat:hover {
  color: #1D9BF0;
  background-color: #0A171F;
}
.global-class-AiOutlineRetweet:hover {
  color: #00BA7C;
  background-color: #071A14;
}
.global-class-BsHeart:hover {
  color: #F91880;
  background-color: #200914;
}
.global-class-IoIosStats:hover {
  color: #1D9BF0;
  background-color: #0A171F;
}
.global-class-twobtn:hover {
  color: #1D9BF0;
  background-color: #0A171F;
}


